{% extends 'base.html.twig' %}


{% block content %}
<style>

  #register {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }

  .registerForm {
    margin: 15px;
  }

  #register_submit {
    margin-top: 60px;
    float: right;
    color: #FDFFFC;
    background-color: #E26D5C;
    border-color: #E26D5C;
    position: relative;
    left: 19vw;
  }

#register_submit:focus {
  color: #FDFFFC;
  background-color: #E26D5C;
  border-color: #E26D5C;
  box-shadow: 5px 10px ;
}

#register_submit:hover {
  color: #E26D5C;
  background-color: #FDFFFC;
  border-color: #E26D5C;
}
.form-control {
  width: 50%;
}

</style>
  <h1 class="text-center">S'INSCRIRE</h1>
  <div class="registerForm">
   {{ form(form) }}
  </div>
{% endblock %}
