<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}La Chappelle-Curreaux Médiathèque{% endblock %}</title>

  {# Bootstrap css #}
  <link href="{{ asset ('assets/css/bootstrap.min.css') }}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{{ asset ('assets/css/style.css')}}" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@200&family=Prompt&family=Spinnaker&display=swap" rel="stylesheet">

</head>
<body>
  {% block navbar %}
  <div class="container-fluid">
    <header class="blog-header mb-2 ">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="navbarText text-center pt-1">
          <div class="navbar-brand mb-0 h1">Bienvenue à la médiathèque de</div>
          <div class="navbar-brand mb-0 h1">LA CHAPELLE-CURREAUX</div>
        </div>
      </div>
    </header>
    <div class="nav-scroller py-1 mb-2 row ">
      <nav class="menuNav nav col">
        <a class="p-2 link-secondary" href="#">Accueil</a>
        <a class="p-2 link-secondary" href="#">Agenda</a>
        <a class="p-2 link-secondary" href="#">Catalogue</a>
        <a class="p-2 link-secondary" href="#">Aide</a>
      </nav>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end col">
        <button type="button" class="registerBtn btn btn-primary btn-sm me-md-2">S'INSCRIRE</button>
        <button type="button" class="connectBtn btn btn-primary btn-sm">SE CONNECTER</button>
      </div>
    </div>
  </div>
  {% endblock %}

  {% block content %}
  <main class="container">
    <div class="row p-4 p-md-5 mb-4 rounded ">
      <div class="col px-0">
        <h1 class="display-5 pb-5 border-bottom border-2 text-center">ACTUALITES DE LA CHAPELLE-CURREAUX</h1>
        <div class="row ">
          <svg class="col bd-placeholder-img mt-3" width="400" height="450" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
          <p class="textNews col lead my-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mollis imperdiet sodales. Nulla varius metus sit amet erat tempus mattis. In dictum purus sed nisl sollicitudin, et consequat libero congue. Quisque ullamcorper leo in elit tempor ornare. Phasellus vitae nibh nec est euismod iaculis sit amet at nibh. 
          Morbi ac nunc vitae risus pulvinar congue at imperdiet lorem. Fusce sed porta felis. Morbi quis cursus arcu, vitae eleifend libero. Cras eu massa ut dolor sodales consequat eu vel eros.</p>
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <h2 class="display-5 pb-5 border-bottom border-2 text-center">EVENEMENTS A VENIR</h2>
      <div class="col-md-4">
        <div class="row g-0 mt-3 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">Evènement 1</h3>
            <p class="card-text textEvent mb-auto">Lorem Ipsum is simply dummy of the printing and typesetting industry. </p>
            <a href="#" class="stretched-link text-end">Voir plus</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row g-0 mt-3 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">Evènement 2</h3>
            <p class="card-text textEvent mb-auto">Lorem Ipsum is simply dummy of the printing and typesetting industry. </p>
            <a href="#" class="stretched-link text-end">Voir plus</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row g-0 mt-3 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">Evènement 3</h3>
            <p class="card-text textEvent mb-auto">Lorem Ipsum is simply dummy of the printing and typesetting industry. </p>
            <a href="#" class="stretched-link text-end">Voir plus</a>
          </div>
        </div>
      </div>
    </div>
  </main>
  {% endblock %}

  {% block footer %}
  <footer class="blog-footer text-center mt-5 py-3 ">
    <p><a href="#" class="footerLink">Mentions légales</a> / <a href="#" class="footerLink">Plan du site</a> /  Site réalisé par <a href="#" class="footerLink">Anne Méléard</a></p>
  </footer>
  {% endblock %}
<script src="{{ asset ('assets/js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>
